.imagee {
    width: 100%;  /* تصویر به عرض دیو فیت میشه */
    height: 100%;  /* تصویر به ارتفاع دیو فیت میشه */
    object-fit: cover;  /* تصویر به اندازه دیو تغییر اندازه پیدا میکنه و اگر نیاز شد برش میخوره */
  }